@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  background: linear-gradient(145deg, #21E8C4 5%, #179B93 25%, #267B87 45%, #0F474F ) ;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}